.Login-container {
  background: url("../Homepage/img/background.jpg");
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.small-desc {
  font-weight: bold;
  color: white;
}
.heading-div {
  display: flex;
  justify-content: center;
}
.white {
  color: white;
}
.color {
  margin-left: 5px;
  color: #007bff;
}
.input-box-text {
  margin: 10px 10px;
}
.input-box-text > input {
  padding: 10px;
  padding-right: 39px;
  font-size: 16px;
  width: 20vw;
  outline: none;
}
.input-box-password {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 10px;
}
.input-box-password > input {
  padding: 10px;
  border: none;
  width: 20vw;
  outline: none;
  font-size: 16px;
}
.password-state {
  margin: 0 5px;
}
.login-click-btn {
  padding: 10px 6.2rem;
  font-size: 18px;
  margin: 10px;
  background-color: orangered;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
.moveto-signup{
    margin-left: 10px;
    color: #007bff;
    text-decoration: none;
}
.error {
  color: "red";
  font-weight: "bold";
  padding: "5px 0";
}
@media only screen and (max-width: 768px) {
  .input-box-text > input{
    width: 80vw;
  }
  .input-box-password > input {
    width: 80vw;
  }
}